<!-- <p>recipe-details works!</p> -->

<div class="row">
    <div class="col-xs-12">
      <img [src]="selRecipe.imagePath" alt="" class="img-responsive" style="height: 100px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{selRecipe.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="addItemToShoppingListTS()">To Shopping List</a></li>
          <li><a (click)="onEditRecipe()">Edit Recipe</a></li>
          <li><a (click)="deleteRecipe()">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{selRecipe.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="lis-group-item" *ngFor="let loop of selRecipe.ingredients" >{{loop.name}} ({{loop.amount}})</li>
      </ul>
    </div>
  </div>
  